@model IEnumerable<DotnetApp.Models.Customer>


@{
    ViewData["Title"] = "Index";

    var defaultMembershipType = new Membershiptype();
}

<h1>Index</h1>
<br />

<p>
    <a class="btn btn-secondary" 
       asp-area=""
       asp-controller="Customer"
       asp-action="add" role="button">Create New Customer</a>
</p>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => (model.Membershiptype ?? defaultMembershipType).DiscountRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.Membershiptype ?? defaultMembershipType).DiscountRate)
                </td>
                <td>
                   <form asp-action="Edit" asp-route-id="@item.Id" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-outline-secondary">Edit</button>
                    </form>

                    <form asp-action="Details" asp-route-id="@item.Id" method="get" style="display:inline;">
                        <button type="submit" class="btn btn-outline-secondary">Details</button>
                    </form>
          
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-outline-secondary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
